body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #DEDEDE;
}

* {
	font-family: "Roboto", sans-serif;
	/* border: 1px dashed blue; */
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
    display: flex;
    width: 99%;
    height: 95%;
    border: 1px solid #ccc;
    background-color: #fff;
}

#info {
	position: fixed;
	bottom: 2px;
	right: 2px;
}

.g {
	color: green;
}

.smol {
	font-size: 0.6em;
}

.left, .right {
    padding: 20px;
    box-sizing: border-box;
}

.left {
    width: 65%;
	border-right: 1px solid #ccc;
	overflow-y: auto;
}

.right {
	position: relative;
	overflow: hidden;
}

#noteOutput {
	overflow-y: auto;
	height: 95%;
}

#copyButton {
	position: absolute;
    bottom: 0;
	left: 0;
	margin: 0;
	height: 5%;
	width: 100%;
    background-color: #FFB300;
    color: black;
	font-weight: bold;
    border: none;
    cursor: pointer;
}

#copyButton:hover {
    background-color: #0B652E;
	color: white;
}

.right {
	width: 45%;
    overflow-y: auto;
}

h4 {
	margin-bottom: 5px;
}

button {
    display: inline-block;
    margin: 0.5%;
    padding: 10px;
    width: 15%;
    cursor: pointer;
}

button:not(#copyButton) {
	height: 42px;
	vertical-align: top;
	font-size: 0.7em;
	border: none;
	font-weight: bold;
	border-radius: 10px;
	padding: 0;
	
	color: white;
	
	background-image: linear-gradient(left , #FFB300 30%, #000000 31%);
	background-image: -o-linear-gradient(left , #FFB300 30%, #000000 31%);
	background-image: -moz-linear-gradient(left , #FFB300 30%, #000000 31%);
	background-image: -webkit-linear-gradient(left , #FFB300 30%, #000000 31%);
	background-image: -ms-linear-gradient(left , #FFB300 30%, #000000 31%);

	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    right bottom,
	    color-stop(0.3, #FFB300),
	    color-stop(0.31, #000000)
	);
}

button:not(#copyButton):hover {
	background-image: linear-gradient(left , #FFB300 30%, #303030 31%);
	background-image: -o-linear-gradient(left , #FFB300 30%, #303030 31%);
	background-image: -moz-linear-gradient(left , #FFB300 30%, #303030 31%);
	background-image: -webkit-linear-gradient(left , #FFB300 30%, #303030 31%);
	background-image: -ms-linear-gradient(left , #FFB300 30%, #303030 31%);

	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    right bottom,
	    color-stop(0.3, #FFB300),
	    color-stop(0.31, #303030)
	);
}

.buttonLabel {
	width: 100%;
}

.symbol {
	font-size: 2.4em;
	width: 30%;
}

.label {
	width: 70%;
}

button.clicked:not(.persistent) {
	opacity: 20%;
}

p:not(.header):hover, li:hover {
    cursor: pointer;
    background-color: mistyrose;
}

.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    font-size: 17px;
}

.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    margin: 0 5px;
    font-size: 1em;
}

.additionalNotes {
	width: 90%;
}